.sign_up {
  text-align: center;
  margin-bottom: 140px;
}

.sign_up__title {
  margin: 0 0 50px 0;
  color: var(--txt_main);
  font: 40px/1 var(--main_font);
}

.sign_up__form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 380px;
  margin: 0 auto;
}

.sign_up__button {
  align-self: center;
}
