.user {
  padding: 20px;
  text-align: center;
  background: var(--bg_main);
  width: calc(100% / 3 - 29px * 2 / 3);

  @media screen and (max-width: 768px) {
    width: calc(100% / 2 - 16px / 2);
  }

  @media screen and (max-width: 500px) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.user__photo {
  width: 70px;
  height: 70px;
  display: block;
  border-radius: 100%;
  margin: 0 auto 20px;
}

.user__name {
  margin-bottom: 20px;
}

.user__text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font: 16px/26px var(--main_font);
}
