header {
  background: var(--bg_main);
}

.header {
  display: flex;
  padding-top: 13px;
  padding-bottom: 13px;
  justify-content: space-between;
  @media screen and (max-width: 500px) {
    align-items: center;
  }
}

.header__logo, .header__logo svg {
  height: 26px;
  width: 104px;
}

.header__button_group {
  display: flex;
}

.header__button {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 360px) {
    margin-right: 5px;
  }
}
