.intro {
  min-height: 650px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 140px;
}

.intro__text_block {
  width: 380px;
  color: var(--bg_main);
}

.intro__title {
  margin: 0 0 20px 0;
  font: 40px/1 var(--main_font);
}

.intro__description {
  margin: 0 0 32px 0;
  font: 16px/26px var(--main_font);
}
