:root {
  --main_font: Nunito, sans-serif;
  --primary: #F4E041;
  --primary_active: #FFE302;
  --secondary: #00BDD3;
  --disabled: #B4B4B4;
  --error: #CB3D40;
  --mutted: #F8F8F8;
  --bg_main: #ffffff;
  --txt_main: #212121;
  --txt_label: #7e7e7e;
  --input_border: #D0CFCF;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--mutted);
}
