:root {
  --mainFont: Nunito, sans-serif;
  --primary: #F4E041;
  --primary_active: #FFE302;
  --secondary: #00BDD3;
  --disabled: #B4B4B4;
  --mutted: #F8F8F8;
  --bg_main: #ffffff;
  --txt_main: #212121;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--mutted);
}
